__pycache__/qr.cpython-314.pyc
__pycache__/bd.cpython-314.pyc
backend/__pycache__/bd.cpython-312.pyc
backend/schema.sql
backend/.env
backend/__pycache__/config.cpython-312.pyc
backend/__pycache__/qr.cpython-312.pyc
backend/seed.sql
.vscode/settings.json
backend/__pycache__/bd.cpython-310.pyc
backend/__pycache__/qr.cpython-310.pyc
